/*header*/

/*over ons*/

/*menu*/

/*media*/

/*contact*/

/*gdpr*/

/*footer*/
.containerfooter{
  width: 100%;
  align-items: center;
  align-content: center;
}
.kolomfooter{
  display: inline-block;
}
.kolomfooter img{
  width: 25%;
  height: 25%;
}